**/*.back.*
**/*.backup.*
*.iml
*.ipr
*.iws
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.sublime*
*.tgz
*.tsbuildinfo
.DS_*
.cache
.cache/
.dynamodb/
.env
.env*.local
.env.test
.eslintcache
.fusebox/
.grunt
.idea/
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/misc.xml
.idea/replstate.xml
.idea/sonarlint
.idea_modules/
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.out
.parcel-cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.storybook-out
.stylelintcache
.tern-port
.vscode-test
.vuepress/dist
.yarn-integrity
/target
/target/
Cargo.lock
atlassian-ide-plugin.xml
bower_components
build/Release
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
fabric.properties
jspm_packages/
lerna-debug.log*
lib-cov
logs
modules.xml
node_modules
node_modules/
npm-debug.log*
out/
pids
psd
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
sketch
storybook-static
temp/
thumb
tmp/
typings/
yarn-debug.log*
yarn-error.log*
