atlassian-ide-plugin.xml
**/*.back.*
**/*.backup.*
bower_components
build/Release
.cache
.cache/
Cargo.lock
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
.DS_*
.dynamodb/
.env
.env*.local
.env.test
.eslintcache
fabric.properties
.fusebox/
.grunt
.idea/
.idea/caches/build_file_checksums.ser
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/httpRequests
.idea/**/libraries
.idea/misc.xml
.idea_modules/
.idea/**/mongoSettings.xml
.idea/replstate.xml
.idea/**/shelf
.idea/sonarlint
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
*.iml
*.ipr
*.iws
jspm_packages/
*.lcov
lerna-debug.log*
lib-cov
.lock-wscript
*.log
logs
modules.xml
.next
node_modules
node_modules/
.node_repl_history
.npm
npm-debug.log*
.nuxt
.nyc_output
.out
out/
.parcel-cache
*.pid
*.pid.lock
pids
psd
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
*.seed
.serverless/
sketch
.storybook-out
storybook-static
.stylelintcache
*.sublime*
/target
/target/
temp/
.tern-port
*.tgz
thumb
tmp/
*.tsbuildinfo
typings/
.vscode-test
.vuepress/dist
templates/dist/*
!templates/dist/index.html
yarn-debug.log*
yarn-error.log*
.yarn-integrity
