<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Commit Message Generator">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <title>Random Commit</title>
    <link rel="stylesheet" href="style.scss">
</head>
<body>
<main id="main">
    <p>Your random commit message is</p>
    <h2>{{ commit }}</h2>
    <p>Implement this into your workflow</p>
    <code>git commit -m "$(curl -sL commit.yede.xyz)"</code>
</main>
<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "801164eab37a461597301800c23b2b71"}'></script>
<!-- End Cloudflare Web Analytics -->
</body>
</html>