$dm-bright: #ffffffff;
$dm-dark: #000000ff;
$dm-light: #ffffff99;
$dm-shadow: rgba(118, 118, 128, 0.4);

$lm-dark: #000000ff;
$lm-light: #ffffffff;
$lm-shadow: #7676801e;

body {
  background: $lm-light;
  color: $lm-dark;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  margin: auto;
  max-width: 669px;
  padding: 2em 1em 2em 0.5em;
  text-align: justify;
}

h3 {
  margin-top: 2em;
}
@media screen and (max-width: 800px) {

  code {
    font-size: 0.7em;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: $dm-dark;
    color: $dm-light;
  }
}